
body {
    font-family: 'comic sans ms', 'sans-serif';
    margin: 0;
}

/* Header Styles */
header{
    display: flex;
    
    justify-content: space-between;
    align-items: normal;

    
    background-color: #FFD700;
    padding: 0.5vw 1vw;

    /* Profile Section */
    .profile{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        #profileText{
            font-family:'comic sans ms', cursive, sans-serif;
            font-size: 30px;
            color: #333333;
            text-align: left;
            margin-left: 10px;
        }

    /* Profile Picture Placeholder */
        .circle{
            /*
            height: 3.5vw;
            width: 3.5vw;
            border-radius: 50%;
            display: inline-block;
            */
            img{
                border-radius: 50%;
                height: 3.5vw;
                width: 3.5vw;
                border: #c81400 4px solid;
            }
        }
    }
    /* Menu Section (div)*/
    .menu{
        font-family:'Courier New', Courier, monospace;
        margin-right: 1%;
        align-self: center;
    
        #menuText{ 
            font-size: 23px;
            color: #333333;
            text-align: right;
        }
    } 
}

/* Title and Subtitle Styles */
.title{
    font-family:'comic sans ms', cursive, sans-serif;
    align-items:center;
    align-self: center;
    padding: 30vh 5vw;
    margin-bottom: -3vh;
    
    #titleText{
        font-family:'comic sans ms', cursive, sans-serif;
        font-size: 50px;
        color: #333333;
        text-align: center;

    }
    
    #subtitleText{
        font-family:'comic sans ms', cursive, sans-serif;
        font-size: 25px;
        color: #333333;
        text-align: center;

    }
}








/* Content Section */
.mainContent{
    background-color: bisque;
    font-family:'comic sans ms', cursive, sans-serif;
    border: 2px solid #333333;

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% 50% 30%;

    justify-content: center;
    align-items: normal;

    margin: 0px 3vw;

    /* Project Styles */
    .projects{
        background-color: aliceblue;
        padding: 0% 5%;
        border-right: 3px solid #333333;
        border-bottom: 3px solid #333333;
        h3 {
            font-size: 28px;
            color: #333333;
            text-align: left;   
        }
        div {
            height: 70%;
            display: grid;
            grid-template-rows: auto;
            gap: 5px;
            align-items: center;
            list-style-type: none;
            font-size: 20px;
            color: #333333;
            text-align: left;
            li{
                border-top: 3px dashed #333333;
            }
            
        }
    }

    /* Experience Styles */
    .workExperience{
        background-color: antiquewhite;
        padding: 0% 5%;
        border-right: 3px solid #333333;
        border-bottom: 3px solid #333333;
        h3{
            font-size: 28px;
            color: #333333;
            text-align: left;
        }
        h4{
            border-top: 3px dashed #333333;
            font-size: 24px;
            color: #333333;
            text-align: left;
        }
        a{
            font-size: 20px;
            color: #333333;
            text-align: left;
        }

    }

    /* Education Styles */
    .education{
        background-color: aquamarine;
        padding: 0% 5%;
        padding-bottom: 5%;
        font-size: 20px;
        color: #333333;
        text-align: left;
        border-bottom: 3px solid #333333;
        h3{
            font-size: 28px;
            color: #333333;
            text-align: left;
        }
        p{
            font-size: 20px;
            color: #333333;
            text-align: left;
        }
        ul{
            font-size: 20px;
            color: #333333;
            text-align: left;
            list-style-type: disc;
        }
    }
    .reviews{
        grid-area: span 1 / 1 / auto /  4;
        background-color: aquamarine;
        padding: 0% 5%;
        padding-bottom: 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        font-size: 20px;
        color: #333333;
        text-align: left;
        h3{
            grid-area: span 1 / 1 / auto / 4;
            font-size: 28px;
            color: #333333;
            text-align: left;
        }
        p{
            border: 2px solid #333333;
            padding: 50px 30px;
            border-style: dotted;
            border-radius: 10% / 30%;
        }
    }
}



footer{
    text-align: center;
    padding: 20px;
    background-color: #FFD700;
    margin-top: 200px;
}

/*logic for smartphones*/
media-query{
    @media(max-width: 600px){
        .mainContent{
            padding: 20px;
        }
    }
}